@font-face {
  font-family: Minecraft;
  src: url('Minecraft.woff');
}


body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    display: block;
}

.text {
  font-family: Minecraft;
  padding: 20px;
}

.text-main {
    font-size: 40px;
    font-weight: bold;
}

.text-secondary {
    font-size: 35px;
}
