@font-face {
  font-family: Minecraft;
  src: url('Minecraft.woff');
}

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    display: block;
    background-color: #CCCCCC;
}

.text {
  font-family: Minecraft;
  padding: 10px;
}

.text-main {
    font-size: 35px;
    font-weight: bold;
}

.text-secondary {
    font-size: 30px;
}
